@import 'base';
@import 'nav';





// slider section
.slider_section {
  width: 100%;
  margin: 0;
  margin-top: 13%;
  
  max-height: 90vh;
  box-sizing: border-box;
  .slider_container {
    color: #fefefe;
    background-color: $accentcolor;
    
    padding: 25px;
    border-radius: 0 0 15px 15px;
    height: 100%;
    
  }

  .row {
    align-items: center;
  }

  .img-box {
    display: flex;
    justify-content: center;
    padding: .5rem;
    height: 60vh;
    width: 100%;
    
    box-sizing: border-box;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
     
    }
  }

  .detail-box {
    padding-left: 45px;
    margin: 45px 0;

    h1 {
      font-weight: bold;
      font-size: 3rem;
      margin-bottom: 10px;
      font-family: 'Satoshi', sans-serif;
    }

    a {
      @include hero_btn(#db4566, $white, 10px, 40px, 5px);
      margin-top: 25px;
      text-transform: uppercase;
    }
  }



  .carousel_btn-box {
    display: flex;
    background-color: $white;
    align-items: center;
    position: absolute;
    bottom: -25px;
    left: 5%;
    padding: 7px 10px;
    border-radius: 5px 5px 0 0;

    img {
      margin: 0 10px;
    }

    .carousel-control-prev,
    .carousel-control-next {
      position: unset;
      height: 25px;
      width: 25px;
      background-repeat: no-repeat;
      opacity: 1;
      background-position: center;
      color: $black;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .slider_section {
    margin-top: 9vh;
    height: 55vh;
    max-height: 90vh;
    box-sizing: border-box;
    padding: 10px;
    .slider_container {
      width: 100%;
      height: 100%;
      display: flex;
      color: #fefefe;
      background-color: transparent;
      
      padding: 2rem 0;
      padding-top: 0;
      box-sizing: border-box;
      border-radius: 0 0 15px 15px;
      
     
      position: relative;
      .carousel{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: none;
        border-radius: 0 0 15px 15px;
        
        .carousel-inner{
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          border: none;
          border-radius: 0 0 15px 15px;
          background-color: #f89cab;
          border: 5px solid black;
          .carousel-item{
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            border: none;
            border-radius: 0 0 15px 15px;
            .container-fluid{
              width: 100%;
              height: 100%;
              padding: 0;
              margin: 0;
              border: none;
              border-radius: 0 0 15px 15px;
            }
          }

        }
      }
    }
  
    .row {
      height: 100%;
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      align-items: center;
      display: flex;
      flex-direction: column;
      border: none;
      .row-sec{
        width: 100%;
        height: 100%;
        
        box-sizing: border-box;
        padding: 0;
        z-index: 1;
        background:transparent;
        
      }
      .row-sec-img{
        width: 100%;
        height: 100%;
       
        box-sizing: border-box;
        padding: 0;
        position: absolute;
        top: 0;
        z-index: 0;
        opacity: 0.4;
      }
    }
  
    .img-box {
      width: 100%;
      display: flex;
      padding: 0;
      justify-content: center;
      margin: 0 !important;
      height: 100%;

      box-sizing: border-box;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
  
      }
    }
  
    .detail-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding-top: 2rem;
      margin: 0;
      background:transparent;
      
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      h1 {
        font-weight: bold;
        font-size: 2rem !important;
        margin-bottom: 10px;
       
      }
  
      a {
        @include hero_btn(#db4566, $white, 10px, 40px, 5px);
        margin-top: 25px;
        text-transform: uppercase;
      }
    }
  
  
  
    .carousel_btn-box {
      display: flex;
      background-color: $white;
      align-items: center;
      position: absolute;
      bottom: -25px;
      left: 5%;
      padding: 7px 10px;
      border-radius: 5px 5px;
      border: 1px solid black;
      img {
        margin: 0 10px;
      }
  
      .carousel-control-prev,
      .carousel-control-next {
        position: unset;
        height: 25px;
        width: 25px;
        background-repeat: no-repeat;
        opacity: 1;
        background-position: center;
        color: $black;
        font-size: 14px;
       
      }
    }
  }
  // shop section


}
// end slider section


// shop section
.shop_section {
  margin-top: 10vh;
  .heading_container {
    margin-bottom: 20px;
    h2{
      font-family: 'Anonymous Pro', monospace;
    }
  }

  .box {
    background-color: $bgcolor;
    position: relative;
    padding: 0;
    margin-top: 25px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #005f7a38;
    a {
      color: $black;
    }
    
    .product-action{
      display: flex;
      border-top: 1px solid #005f7a15;
      padding: 10px .5rem;
      justify-content: space-between;
      .btn-cart{
        color: #f16179;
        border: 1px solid #f16179;
        padding: 10px 1.5rem;
        border-radius: 5px;
        font-size: .8em;
        background-color: transparent;
        transition: .4s ease;
        &:hover{
          background-color: #f16179;
          color: white;
        }
      }
      .btn-cart-dark{
        color: $accentcolor !important;
        border: 1px solid $textcolor;
        padding: 10px;
        border-radius: 5px;
        font-size: .8em;
        background-color: transparent;
        transition: .4s ease;
        &:hover{
          background-color: $accentcolor;
          color: white !important;
        }
      }
    }
    .img-box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      height: 220px;
      background: $white;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-position: center;
      }
    }

    .detail-box {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      color: $white;
      flex-direction: column;
      
      padding: .5rem;
      
      h6{
        width: 100%;
        font-size: .8em;
      }
      .price-settings{
        display: flex;
        gap: 1rem;
        width: 100%;
        
        s{
          color: #ffffff77;
          white-space: nowrap;
          font-weight: 100;
        }
        span {
          width: 100%;
          font-weight: bold;
          color: $accentcolor;
          
        }
      }
      
    }

    .new {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 5px;
      left: 5px;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      font-size: 15px;
      border: 2px solid $accentcolor;
      border-style: dotted;
    }
  }

  .btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;

    a {
      @include hero_btn(#f16179, $white, 10px, 40px, 5px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .shop_section{
   
    margin-top: 0;
  }
}

// Cart and Checkout
.checkout-row{
  margin-top: 20vh;
  
}
.cart-container{
  margin-top: 20vh;

  .box-element{
    .btn-outline-dark{
      color: white;
      border: 1px solid #109dbd;
      &:hover{
        background-color: #109dbd;
      }
    }
    .table{
      color: white;
    }
  }
}
.form-field{
  width: 250px;
  display: inline-block;
  padding: 5px;

  /* Standard syntax */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // input[type="number"] {
  //   -moz-appearance: textfield;
  // }

}
.cart-row{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
  
  height: 80px;
  box-sizing: border-box;
}
.cart-row div{
  display: flex;
  align-items: center;
  justify-content: center;
 
  height: 100%;
  box-sizing: border-box;
  
}
.quantity{
  display: flex;
  flex-direction: column;
  align-self: center;
  font-weight: 700;
  padding-right: 10px;
  
}
.row-img{
  width: 100px;
  height: 100%;
}
.chg-quantity{
  width: 12px;
  cursor: pointer;
  display: block;
}

.anom p{
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}
.row .box-element{
  margin: 2% 0;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.068);
  padding: 15px;
}

.table tr th .btn{
  float: right;
 
}

.hidden{
  display: none;
}

#payment-info{
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.box-element.hidden{
  display: none !important;
}
#payment-info small{
  font-weight: bold;
 
}
#make-payment{
  cursor: pointer;
  position: relative;
  background-color: #ff9b00;
  color: #12122c;
  width: fit-content;
  padding: 1rem 1.2rem;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  transition: all .1s ease-in;
  vertical-align: middle;;
}


@media screen and (max-width: 1024px) {
  .checkout-row{
    margin-top: 10vh;
    flex-direction: column-reverse;
    box-sizing: border-box;
  }
  .form-field{
    box-sizing: border-box;
    width: 100%;
    margin:5px;
    display: inline-block;
    padding: 5px;
    input{
      width: 100% !important;
    }
  }
  .cart-row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
    line-height: 1rem;
    height: 80px;
    box-sizing: border-box;
    
  }
  .cart-row div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    height: 100%;
    box-sizing: border-box;
    
   
    p{
      display: flex;
      align-items: center;
      margin: 0;
      text-align: center;
      padding: .1rem;
     
    }
  }
  .quantity{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-weight: 700;
    padding-right: 10px;
    
  }
  .row-img{
    width:100%;
    height: 90%;
  }
  .chg-quantity{
    width: 12px;
    cursor: pointer;
    display: block;
  }
  .anom{
    display: flex;
    height: 100%;
    
    p{
      height: 100%;
      display: flex;
      align-items: center;
      font-weight: bold;
      margin: 0;
      
      margin-right: 10px !important;
    }
  }
   
  .row .box-element{
    margin: 2% 0;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.068);
    padding: 15px;
  }
  
  .table tr th{
    display: flex;
    align-items: center;
    flex-direction: row;
    h5{
      font-size: 1em;
    }
     .btn{
    float: right;
     }
  }
  
  .hidden{
    display: none;
  }


  #payment-info{
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
  .box-element.hidden{
    display: none !important;
  }
  #payment-info small{
    font-weight: bold;
   
  }
  #make-payment{
    cursor: pointer;
    position: relative;
    background-color: #ff9b00;
    color: #12122c;
    width:fit-content;
    display: flex;
    white-space: nowrap;
    padding: 7.5px 16px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    transition: all .1s ease-in;
    vertical-align: middle;;
  }
}
// end checkout section

// saving section

.saving_section {
  padding-left: 45px;
  padding-right: 45px;

  .box {
    padding-top: 45px;
    background-color: $primary;
    color: $white;
    border-radius: 15px;
  }

  .row {
    align-items: center;
  }

  .img-box {
    padding: 15px 0 0 25px;

    img {
      width: 100%;
    }
  }

  .detail-box {
    padding: 0 25px;

    p {
      margin-top: 5px;
    }

    .btn-box {
      display: flex;
      flex-wrap: wrap;
      margin: 35px -5px 0;

      a {
        width: 165px;
        text-align: center;
        margin: 5px;
      }

      .btn1 {
        @include hero_btn(#109dbd, $white, 10px, 0, 0)
      }

      .btn2 {
        @include hero_btn($white, $black, 10px, 0, 0)
      }
    }
  }
}

// end saving section

// why section

.why_section {
  .box {
    text-align: center;
    margin-top: 45px;
    background-color: #f9f8f7;
    padding: 25px;
    border-radius: 5px;
    height: 220px;
    .img-box {
      margin-bottom: 15px;

      svg {
        width: 55px;
        height: auto;
        fill: #320b57;
      }
    }
    .detail-box{
      
      h5{
        color: #002029;
      }
      p{
        color: #00303d; 
      }
    }
  }
}

//end why section


// gift section

.gift_section {
  padding-left: 45px;
  padding-right: 45px;

  .box {
    background-color: #6929a5;
    border-radius: 15px;
    color: $white;
  }

  .row {
    align-items: center;
  }

  .img-box {
    padding: 60px 0 60px 25px;

    img {
      width: 100%;
    }
  }

  .detail-box {
    padding: 0 25px;

    p {
      margin-top: 5px;
    }

    .btn-box {
      display: flex;
      flex-wrap: wrap;
      margin: 35px -5px 0;

      a {
        width: 165px;
        text-align: center;
        margin: 5px;
      }

      .btn1 {
        @include hero_btn($white, $black, 10px, 0, 0)
      }

      .btn2 {
        @include hero_btn(#9242dd, $white, 10px, 0, 0)
      }
    }
  }
}

// end gift section


// contact section
.contact_section {
  position: relative;
  width: 100%;


  .container-bg {
    box-shadow: 0 0 25px 0 rgba($color: #000000, $alpha: .1);

  }

  .heading_container {
    margin-bottom: 30px;
  }

  .row {
    align-items: stretch;
  }

  form {
    padding-right: 35px;
    padding: 45px 20px;
  }

  input {
    width: 100%;
    border: 1px solid #919191;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: transparent;
    outline: none;
    color: #109dbd;


    &::placeholder {
      color: #fff;
    }

    
  }
  .message-box {
    height: 120px;
    color: #002029;
    padding:10px 25px;
  }
  button {
    @include hero_btn(#109dbd, $white, 12px, 45px, 0);
    display: block;
    color: #fff;
    margin: 35px auto 0 auto;
  }

  .map_container {
    height: 100%;
    min-height: 375px;
    width: 100%;
    box-sizing: border-box;

    .map-responsive {
      height: 100%;
      width:100%;
      box-sizing: border-box;
      iframe{
        width: 100%;
      }
    }
  }
}

// end contact section

// client section

.client_section {
  
  .heading_container {
    margin-bottom: 20px;
  }

  .box {
    margin: 15px 45px;
    box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: .25);
    padding: 25px;

    .client_info {
      display: flex;
      justify-content: space-between;

      .client_name {
        h5 {
          font-weight: 600;
          color: $btncolor;
        }

        h6 {
          margin-bottom: 0;
          color: #bfc0c0;
          font-weight: normal;
          font-size: 15px;
        }
      }

      i {
        font-size: 24px;
      }
    }

    p {
      margin-top: 15px;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 45px;
    height: 125px;
    background-color: $btncolor;
    opacity: 1;
    font-size: 28px;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }



}

// end client section



/* info section */
.info_section {
  position: relative;
  background-color: $primary;
  color: $white;
  margin: 0 45px 45px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  .social_container {
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;

    .social_box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      a {
        margin: 0 10px;
        color: $white;
        font-size: 24px;
      }
    }
  }

  .info_container{
    p{
      font-size: .9rem;
    }
    .info_form {
      form {
        input {
          outline: none;
          width: 100%;
          padding: 7px 10px;
        }
  
        button {
          padding: 12px 35px;
          outline: none;
          border: none;
          color: $white;
          background: #109dbd;
          margin-top: 15px;
          text-transform: uppercase;
        }
      }
  
    }
  }

  .row>div {
    margin-top: 25px;
  }

  a {
    text-transform: none;
  }


  h6 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 25px;
  }


  p {
    color: #cbc9c9;
  }



  .info_link-box {
    a {
      display: flex;
      align-items: center;
      margin: 15px 0;


      &:hover {
        color: $white;
      }

      i {
        color: $white;
        margin-right: 5px;
        font-size: 18px;
      }

      span {
        color: #cbc9c9;
      }

      &:hover {
        span {
          color: $white;
        }
      }
    }
  }


}

/* end info section */


/* footer section*/

.footer_section {
  margin-top: 45px;
  font-weight: 500;
}

.footer_section p {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  border-top: 1.5px solid #eeeeee;
  width: 80%;
}

.footer_section a {
  color: #109dbd;
}

/* end footer section*/