.search-container{
    height: 100vh;
    margin-top: 22vh;
    
    width: 100%;
    padding: 45px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .searchbox{
        display: flex;
        align-items: center;
        
        padding: 20px 0;
        gap: 20px;
        height: 20%;
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
        input{
            padding: 18px 14px !important;
            width: 50%;
            height: 50px;
            display: flex;
            &::placeholder{
                font-weight: 500;
                font-family: "Inter";
            }
        }
        
        button{
            padding:18px;
            border-radius: 5px;
            height: 50px;
            border: none;
            background: black;
            color: white;
            font-weight: bold;
            font-family: "Inter";
            display: flex;
            align-items: center;
            gap: 10px;
        }

    }
    .shop_section{
        margin: 0;
        
        padding: 0 !important;
        margin: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
        box-sizing: border-box;
        
            .row{
                width: 100%;
                margin: 0;
                height: 100%;
                overflow-y: scroll;
                
                &::-webkit-scrollbar{
                    width: 10px;
                    background-color:#e7e7e7;
                    
                }
                &::-webkit-scrollbar-thumb{
                    background-color: black;
                    
                }
                
            }
        
    }
}