{% extends "base/base.html" %}
{% load static %}


  
  



{% block content %}
<style>
    .shop_section .container span.section-title{
        font-size: 1.5rem;
        font-weight: bold !important;
    }
    .shop_section .container hr{
        width: 10%;
        height: 5px;
        border: none;
        border-radius: 10px 10px;
        background: rgb(216, 81, 28);
        display: flex;
        align-items: flex-start;
        margin-left: 0;
       
        
    }
    .shop_section .container hr.one{
        width: 10%;
        margin-top: .5rem;
        margin-bottom: .2rem;
       
        
    }
    .shop_section .container hr.two{
        width: 5%;
        margin: 0;
    }
</style>
  <section class="shop_section">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 class="pt-4">
          All Products
        </h2>
      </div>
      <!-- T-Shirts -->
      <span class="section-title layout_padding" style="font-weight: bold;">T-Shirts</span>
      <hr class="one">
      <hr class="two">
      <div class="row layout_padding-bottom">
        {% for tshirt in tshirts %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="{% url 'product-detail' tshirt.id %}">
              <div class="img-box">
                <img src="{{tshirt.image.url}}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  {{tshirt.name}}
                </h6>
                <br>
                <h6>
                  
                  <span>
                    GH&#8373; {{tshirt.price}}
                  </span>
                </h6>
              </div>
              
            </a>
            <div class="product-action">
              <a href="#" class="btn btn-cart-dark update-cart" data-product="{{tshirt.id}}" data-action="add">Add to Cart</a>
              <a href="#" class="btn btn-cart buy-now" data-product="{{tshirt.id}}" data-action="add">Buy</a>
            </div>
          </div>
        </div>
        {% endfor %}
       
      </div>
      
      <!-- Hoodies -->
      <span class="section-title">Hoodies</span>
      <hr class="one">
      <hr class="two">
      <div class="row layout_padding-bottom">
       
       {% for hoodie in hoodies  %}
       <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box">
          <a href="{% url 'product-detail' hoodie.id %}">
            <div class="img-box">
              <img src="{{hoodie.image.url}}" alt="">
            </div>
            <div class="detail-box">
              <h6>
                {{hoodie.name}}
              </h6>
              <h6>
              
                <span>
                  GH&#8373; {{hoodie.price}}
                </span>
              </h6>
            </div>
            
          </a>
          <div class="product-action">
            <a href="#" class="btn btn-cart-dark update-cart" data-product="{{hoodie.id}}" data-action="add">Add to Cart</a>
            <a href="#" class="btn btn-cart buy-now" data-product="{{hoodie.id}}" data-action="add">Buy</a>
          </div>
        </div>
      </div>
       {% endfor %}
       
      </div>

      <!-- Sweatshirts -->
      <span class="section-title">Sweatshirts</span>
      <hr class="one">
      <hr class="two">
      <div class="row layout_padding-bottom">
       
       
        {% for sweatshirt in sweatshirts %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="{% url 'product-detail' sweatshirt.id %}">
              <div class="img-box">
                <img src="{{sweatshirt.image.url}}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  {{sweatshirt.name}}
                </h6>
                <h6>
                  
                  <span>
                    GH&#8373; {{sweatshirt.price}}
                  </span>
                </h6>
              </div>
              
            </a>
            <div class="product-action">
              <a href="#" class="btn btn-cart-dark update-cart" data-product="{{sweatshirt.id}}" data-action="add">Add to Cart</a>
              <a href="#" class="btn btn-cart buy-now" data-product="{{sweatshirt.id}}" data-action="add">Buy</a>
            </div>
          </div>
        </div>
        {% endfor %}
       
        
      </div>
      

      <!-- Mugs -->
      <span class="section-title">Mugs</span>
      <hr class="one">
      <hr class="two">
      <div class="row layout_padding-bottom">
        {% for mug in mugs %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="{% url 'product-detail' mug.id %}">
              <div class="img-box">
                <img src="{{mug.image.url}}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  {{mug.name}}
                </h6>
                <h6>
                  
                  <span>
                    GH&#8373; {{mug.price}}
                  </span>
                </h6>
              </div>
              
            </a>
            <div class="product-action">
              <a href="#" class="btn btn-cart-dark update-cart" data-product="{{mug.id}}" data-action="add">Add to Cart</a>
              <a href="#" class="btn btn-cart buy-now" data-product="{{mug.id}}" data-action="add">Buy</a>
            </div>
          </div>
        </div>
        {% endfor %}
       
      </div>


      <!-- Beanies -->
      <span class="section-title">Beanies</span>
      <hr class="one">
      <hr class="two">
      <div class="row layout_padding-bottom">
        {% for beanie in beanies %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="{% url 'product-detail' beanie.id %}">
              <div class="img-box">
                <img src="{{beanie.image.url}}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  {{beanie.name}}
                </h6>
                <h6>
                  
                  <span>
                    GH&#8373; {{beanie.price}}
                  </span>
                </h6>
              </div>
              
            </a>
            <div class="product-action">
              <a href="#" class="btn btn-cart-dark update-cart" data-product="{{beanie.id}}" data-action="add">Add to Cart</a>
              <a href="#" class="btn btn-cart buy-now" data-product="{{beanie.id}}" data-action="add">Buy</a>
            </div>
          </div>
        </div>
        {% endfor %}
       
      </div>
    </div>
  </section>

  
{% endblock content %}

  



 