{% extends "base/base.html" %}
{% load static %}





{% block content %}
 
 <div class="container checkout">
  <div class="row checkout-row">
    <div class="col-lg-6">
      <div class="box-element" id="form-wrapper">
        <form id="form">
          <div id="user-info">
            <div class="form-field">
              <input type="text" class="form-control" required name="name" placeholder="Name..." value="{% if request.user.is_authenticated %}{{request.user.username}}{% endif %}" {% if request.user.is_authenticated %}readonly{% endif %}>
            </div>
            <div class="form-field">
              <input type="email" class="form-control" id="email" required name="email" placeholder="Email..." value="{% if request.user.is_authenticated %}{{request.user.email}}{% endif %}" {% if request.user.is_authenticated %}readonly{% endif %}>
            </div>
            <div class="form-field">
              <input type="number" class="form-control" required name="phonenumber" placeholder="Phone number...">
            </div>
          </div>
            
          <div id="shipping-info">
            <hr>
            <p>Shipping Information</p>
            <hr>
            <div class="form-field">
              <input type="text" class="form-control" name="address" placeholder="Address..." required>
            </div>
            <div class="form-field">
              <input type="text" class="form-control" name="location" placeholder="Location..." required>
            </div>
            <div class="form-field">
              <input type="text" class="form-control" name="region" placeholder="Region..." required>
            </div>
          </div>

          <hr>
          <input type="submit" id="form-button" class="btn btn-success btn-block" value="Continue">
        </form>
      </div>
      <div class="box-element hidden" id="payment-info">
        <small>Payment Options</small>
      
        <button id="make-payment" onclick="makePayment()">Make payment</button>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="box-element">
        <a href="{% url 'cart' %}" class="btn btn-outline-dark">&#x2190; Back to Cart</a>
        <hr>
        <h3>Order Summary</h3>
        <hr>
        {% for item in items  %}
          {% if item.quantity == 0 %}
          {% else %}
          <div class="cart-row">
            <div style="flex:1"><img class="row-img" src="{{item.product.image.url}}" alt=""></div>
            <div style="flex:2">{{item.product.name}}</div>
            <div style="flex:1">GH&#8373; {{item.product.price}}</div>
           
            <div style="flex:1">x{{item.quantity}}</div>
          </div>
          {% endif %}
        {% endfor %}

        <h5>Items: {{order.get_cart_items}}</h5>
        <h5>Total: GH&#8373; {{order.get_cart_total}}</h5>
      </div>
    </div>
  </div>
 </div>
 <script src="https://js.paystack.co/v1/inline.js"></script>

 <script type="text/javascript">
  var shipping = '{{order.shipping}}'
  var user_email = '{{ request.user.email }}'
  var total = '{{order.get_cart_total}}'


  // if (user != 'AnonymousUser'){
  //   document.getElementById('user-info').innerHTML = ''
  // }



  var form = document.getElementById('form')
  form.addEventListener("submit", function(e){
    e.preventDefault()
    console.log('Form Submitted...')
    document.getElementById('form-button').classList.add("hidden")
    document.getElementById('payment-info').classList.remove("hidden")
  })


  //Payment
  document.getElementById('make-payment').addEventListener('click', function(){
    //submitFormData()
   
    makePayment()
  })

  function makePayment() {
    // Check if the user is AnonymousUser
    if (user === "AnonymousUser") {
        // Store the current URL before redirecting to the register page
        var user_email = document.getElementById("email").value

        
    }

    // Continue with payment logic
    let handler = PaystackPop.setup({
        key: 'pk_test_bd6a6eb65b4c2966f303176e3dc55b25a74799ac', // Replace with your public key
        email: user_email, // Use the authenticated user's email
        amount: "{{ order.get_cart_total }}" * 100,
        currency: "GHS",
        ref: '' + Math.floor((Math.random() * 1000000000) + 1),
        onClose: function () {
            alert('Window closed.');
        },
        callback: function (response) {
            let message = 'Payment complete! Reference: ' + response.reference;
            alert(message);
            submitFormData();
        }
    });

    handler.openIframe();
}




  function submitFormData(){
    console.log("Payment button clicked")

    var userFormData = {
      'name': null,
      'email': null,
      'total': total
    }

    var shippingInfo = {
      'address': null,
      'location': null,
      'region': total
    }

    if (shipping != 'False'){
      shippingInfo.address = form.address.value
      shippingInfo.location = form.location.value
      shippingInfo.region = form.region.value
    }

    if (user == 'AnonymousUser'){
      userFormData.name = form.name.value
      userFormData.email = form.email.value
      
    }
    
    const csrftoken = "{{ csrf_token }}"
    var url = '/process_order/'
    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body:JSON.stringify({
            'form': userFormData,
            'shipping': shippingInfo
        })
    })
    .then((response) =>{
        return response.json()
    })
    .then((data) =>{
        console.log('Success', data);
        

        cart = {}
        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        window.location.href = "{% url 'shop' %}"
    })
  }
  
 </script>
{% endblock content %}
