{% extends 'base/base.html' %}
{% load static %}
{% block header_section %}
<header class="header_section">
  <nav class="navbar navbar-expand-lg custom_nav-container ">
    <a class="navbar-brand" href="{% url 'homepage' %}">
      <span>
        PAPSI's WORLD
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class=""></span>
    </button>

    <div class="collapse navbar-collapse innerpage_navbar" id="navbarSupportedContent">
      <ul class="navbar-nav  ">
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop' %}">
            Shop
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'why' %}">
            Why Us
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'testimonial' %}">
            Testimonial
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
        </li>
      </ul>
      <div class="user_option">
        <a href="{% url 'login' %}">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span>
            Login
          </span>
        </a>
        <a href="{% url 'cart' %}">
          <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        </a>
        <form class="form-inline ">
          <button class="btn nav_search-btn" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
{% endblock header_section %}
{% block content %}

<div class="container account">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            <p>Already have an account? <a href="{% url 'login' %}">Login Here</a></p>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <form action="" method="POST" id="sign_up-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" id="submit-btn" style="display: none;"></button>
                <button id="submit-verify" type="button" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
<div class="verification-modal" id="verification-modal">
  <form>
   
      <section class="content">
          <h2>Enter Verification Code</h2>
          <p id="otp-message">Enter code that we have sent to <b><small id="user-attempt-mail"></small></b></p>
          <ul class="buttons">
              <li>
                  <button></button>
              </li>
              <li>
                  <button></button>
              </li>
              <li>
                  <button></button>
              </li>
              <li>
                  <button></button>
              </li>
          </ul>
        
          <input type="number" name="code" id="code" maxlength=4>
          <button class="verify" type="button" onclick="verify_otp()" >Verify</button>
  </form>
  </section>
</div>

<script>
  
  //Show Modal
  var verify_btn = document.getElementById("submit-verify")
  verify_btn.addEventListener("click", () =>{
  
    var username = document.getElementById("id_username")
    var email = document.getElementById("id_email")
    var password1 = document.getElementById("id_password1")
    var password2 = document.getElementById("id_password2")
    const verificationModal = document.querySelector('.verification-modal');
  
    if (username.value.trim() !== "" && email.value.trim() !== "" && password1.value.trim() !== "" && password2.value.trim() !== "" && password1.value.trim()==password2.value.trim()) {
        
        document.getElementById("user-attempt-mail").innerHTML = email.value
        verificationModal.style.display = 'grid';

        // Perform your AJAX logic here
        ajax_send_otp();
    }else{
      alert("Please enter details correctly")
    }
    
    
  })


  //Send OTP section
  var otp_from_back="";
  function ajax_send_otp(){
     
      var email = document.getElementById("id_email")
    
      $.post("send_otp",
      {
          "email": email.value,
          "csrfmiddlewaretoken": "{{csrf_token}}"
      },
      function(data, status){
          if(status=="success"){
              otp_from_back = data;

          }
      });
  }

  function verify_otp(){
      var email = document.getElementById("id_email").value
      var user_otp=document.getElementById("code").value;
      if (user_otp==otp_from_back){
          document.getElementById('verification-modal').style.display='none'
          document.getElementById('id_email').innerHTML = email
          
          document.getElementById("submit-btn").click()
      }
      else{
          document.getElementById("otp-message").style.color="red";
          document.getElementById("otp-message").innerHTML="Try Again!!";
      }
    } 


  




</script>
{% endblock %}