{% extends 'base/base.html' %}
{% load static %}



{% block content %}
<div class="container account">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            
            <p style="color: rgba(0, 0, 0, 0.747);">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Email:</label>
                    <input type="email" class="form-control" name="email" placeholder="example@gmail.com">
                </div>
                
                <button type="submit" class="btn btn-primary">Reset my password</button>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}