{% extends 'base/base.html' %}
{% load static %}



{% block content %}
<div class="container account">
    <div class="row center">
        
        <div class="col-md-6 offset-md-3">
            <h3 style="margin-bottom: 35px;">Password Reset Mail Sent</h3>
            <p style="color: rgba(0, 0, 0, 0.747);">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
           <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>
    </div>
</div>
{% endblock %}